.index-slider {

    // border-radius: 3em;
    overflow: hidden;
    padding-bottom: 60px;
    


    .carousel-control-prev, .carousel-control-next {
        width: 5%;
        @include media-breakpoint-down(md) {
            width: 10%;
        }
    }

    .carousel-indicators {
        bottom: -60px;
        @include media-breakpoint-down(md) {
            bottom: -55px;
        }
    }
    
    .carousel-indicators [data-bs-target] {
        opacity: 1;
        width: 14px;
        height: 14px;
        border-radius: 20px;
        background: $nm-medblue;
        border: none;
        margin: 7px;
        transition: width 0.3s ease-out;
        opacity: 0.3;
        &.active {
            width: 50px;
            opacity: 1;
        }

    }

}
