$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);
$utilities: map-merge(
  $utilities, (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      ( responsive: true ),
    ),
  )
);
$utilities: map-merge(
  $utilities, (
    "color": map-merge(
      map-get($utilities, "color"),
      ( responsive: true ),
    ),
  )
);
$utilities: map-merge(
  $utilities, (
    "flex-grow": map-merge(
      map-get($utilities, "flex-grow"),
      ( responsive: true ),
    ),
  )
);
$utilities: map-merge(
  $utilities, (
    "width": map-merge(
      map-get($utilities, "width"),
      ( responsive: true ),
    ),
  )
);